@model WebApplication5.Views.viewmodel.stu_course

<h1> student details</h1>

<table border="2px solid bile" style=" background-color:aqua;" cellpadding="10px">
    <tr>
        <td> regno</td>
        <td> @Model.studentobj.regno</td>
    </tr>
    <tr>
        <td> stuname</td>
        <td> @Model.studentobj.name</td>
    </tr>
    <tr>
        <td> mailid</td>
        <td> @Model.studentobj.mailid</td>
    </tr>
    <tr>
        <td> course name</td>
        <td> @Model.courseobj.cname</td>
    </tr>
    <tr>
        <td> course dur</td>
        <td> @Model.courseobj.cdur</td>
    </tr>


</table>