@model WebApplication5.Views.newmodel.pro_cetdet

<h1> product details</h1>

<table border="2px solid bile" style=" background-color:aqua;" cellpadding="10px">
    <tr>
        <td> pname</td>
        <td> @Model.productobj.pname</td>
    </tr>
    <tr>
        <td> punitprice</td>
        <td> @Model.productobj.punitprice</td>
    </tr>
    <tr>
        <td> pcode</td>
        <td> @Model.productobj.pcode</td>
    </tr>
    <tr>
        <td> cname</td>
        <td> @Model.categoryobj.cname</td>
    </tr>
    <tr>
        <td> course dur</td>
        <td> @Model.categoryobj.cdiscription</td>
    </tr>


</table>